.container {
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    height: 90vh;
    background: linear-gradient(#0F1CFA, #8D0FFA);
    border-radius: 10px;
}

h1, h2 {
    color: #fff;
}

h1 {
    text-align: center;
}

input {
    margin-top: 10px;
    padding: 10px;
    border: none;
    height: 6vh;
    background: #00000086;
    margin-bottom: 10px;
    outline: none;
    color: #fff;
    border-radius: 10px;
}

input:focus {
    border: 1px solid #8D0FFA;
}

.receitas, .despesas {
    display: flex;
    flex-direction: column;
}

.receitas button, .despesas button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #FA0FFA;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}

.form {
    margin-top: 20px;
}

.form div {
    margin-top: 10px;
}

.spacing {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0.1vh;
    background: gray;
}

.button {
    margin-top: 15px;
    width: 100%;
    border: none;
    color: #fff;
    background: #000;
    height: 8vh;
    border-radius: 10px;
    font-weight: 800;
    font-size: 15px;
}